body {
    background-color: #F2F2F2;
  }
  
  table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
    background-color: #FFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  th,
  td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #343A40;
    color: #FFF;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 600;
    color: #343A40;
  }
  
  form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #343A40;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #1D1D1D;
  }