/* Fondo de la página */
body {
    background-color: #aacff1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Recuadro principal */
.container {
    background-color: #f8f4ab;
}

.btn {
    background-color: #fff;
    border: none;
    box-shadow: 2px 2px 5px #ccc;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 3px 3px 5px #ccc;
}

.btn:focus {
    box-shadow: 2px 2px 5px #ccc;
}

.btn h2 {
    margin: 0;
}

.btn-outline-secondary {
    border-color: #ccc;
}
